body {
    background-color: orange;
    background-size: cover;
}

form {
    background-image: url(https://images.unsplash.com/photo-1606767041004-6b918abe92be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJyb3duJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60);
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    border: 5px solid burlywood;
    text-decoration-color: yellow;
    color: yellow;
    font-size: 18px;
    background-color: royalblue ;
    padding: 10px;
    border-radius: 10px
}

a:hover {
    background-color: forestgreen   ;
}

h1,p {
    background-color: royalblue;
    text-align: center;
    color: yellow;
    padding: 18px;
    border-radius: 5px
}

h1:hover {
    background-color: yellow;
    color: black;
    overscroll-behavior-block: left;
    cursor: alias;
}


h2 {
    background-color: royalblue;
    text-align: center;
    color: yellow;
    padding: 18px;
    border-radius: 5px
}

h2:hover {
    background-color: yellow;
    color: black;
    overscroll-behavior-block: left;
    cursor: alias;
}